header{
	background-color: rgb(218, 220, 221);
    border: 1px solid black;
    height: 125px;
}

nav{
    float: left;
    background-color: rgb(218,220, 221);
    text-align: center;
    border-style: solid;
    padding: 19px 50px;
}

article{
	text-align: center;
    background-color:rgb(255, 255, 255);
	height: 450px;
	width: 1130px;
	margin-top: 15px;
	float: left;
}

section p{
    text-align: center;
    font-family: Arial;
	font-size: 16px;
}

aside{
	background-color: rgb(218,220, 221);
	text-align: center;
	border: 1px solid black;
	margin-top: 15px;
	margin-left: 15px;
	float: right;
	height: 450px;
	width: 150px;
}

footer{
	background-color: rgb(218,220, 221);
	border: 1px solid black;
	margin-top: 50px;
	width: 98.4%;
	clear: both;
	float: left;
    padding: 10px;
}

footer p{
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}


p{ 	
	text-align: center;  
    font-family: verdana;
    font-size: 18px;
}

#dog{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1{
	text-align: center;
    font-family: verdana;
    font-size: 18px;
}

p.class{ font-family: verdana;
    font-size: 16px}
